*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
*:not(html) {
  /**:not(body):not(html) {*/
  /*box-sizing:border-box;*/
  border:1px dashed red;
}

.columns {
  min-height: 100px !important;
}
/* End for testing */

body {
  background-color: black;
  font-family: 'Crimson Text', serif;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding-left: 0;
}

.navbar {
  width: 100%;
  height: 12%;
  background-color: white;
  text-transform: uppercase;
}

.navbar ul {
  margin: 0;
  padding-left: 0;
  height: 50%;
  background-color: #F4F4F4;
}

.navbar h3 {
  margin: 0;
  padding-left: 0;
}

.title {
  width: 100%;
  height: 20%;
  color: white;
  text-transform: uppercase;
}

.title p {
  font-family: helvetica;
  font-size: 13px;
  margin-top: 0;
}

.title h2 {
  margin-bottom: 0;
}

.container {
  background-color: #000;
  margin: auto;
  width: 98%;
  height: 85vh;
  color: black;
  margin-top: 2em;

}

.box1 {
  width: 100%;
  height: 50%;
  background-size: 100%;
  background-color: #000;
}


.box3, .box2 {
  width: 100%;
  height: 20%;
  padding-top: 1em;
  background-color: #fff;
}


.box1, .box2, .box3 {
  border: 10px solid black;
 }


@media only screen and (max-width: 600px) {

  .background-image {
    width: 100%;
    height: 90%;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

.box2 {
  height: 10%;
  padding: 0;
}

.box3 {
  padding: 1.5em;
}

.black h1 {
  margin: 0;
  padding-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: .8em;
  padding-top: .8em;
  font-weight: lighter;
}
.black h2 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: .8em;
  font-weight: lighter;
}

}

@media only screen and (min-width: 600px),
       only screen and (min-width: 600px) and (orientation: landscape) {

    body {
    background-color: #fff;
   }

   li {
     list-style-type: none;
     display: block;
     margin: 0;
     padding: 0;
     font-size: 12px;
     padding-left: 0;
   }

   .navbar {
     width: 30%;
     height: 12%;
     background-color: white;
     text-transform: uppercase;
     border: 1px solid black;
   }

   .box1, .box2, .box3 {
     border: 10px solid #fff;
     background-color: #000;
    }

    .container {
      background-color: #fff;
    }

  .box1 {
    width: 100%;
    height: 60%;
  }

   .box3, .box2 {
     width: 50%;
     height:30%;
   }

   .box3 {
     float: left;
   }

   .box2 {
     float: left;
   }

}

@media only screen and (min-width: 1140px) {

  .box1 {
    float: left;
    width: 70%;
    height:100%;
  }

.box3 .box2 {
  float: left;
  margin: 0 auto;
  }

.box3 {
  height: 50%;
  width: 30%;
}
.box2 {
  height: 50%;
  width: 30%;
}
}
