*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* For testing only */
*:not(html) {
  /**:not(body):not(html) {*/
  /*box-sizing:border-box;*/
  /*border:1px dashed red;*/
}

.columns {
  min-height: 100px !important;
}
/* End for testing */

body {
  background-color: black;
  font-family: 'Crimson Text', serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;

}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding-left: 0;
}

.navbar {
  width: 100%;
  height: 12%;
  background-color: white;
  text-transform: uppercase;
  padding-left: 1em;
}

.navbar ul {
  margin: 0;
  padding-left: 0;
  height: 50%;
  background-color: #F4F4F4;
}

.navbar h3 {
  margin: 0;
  padding-left: 0;
}

.title {
  width: 100%;
  height: 20%;
  color: white;
  text-transform: uppercase;
}

.title p {
  font-family: helvetica;
  font-size: 13px;
  margin-top: 0;
}

.title h2 {
  margin-bottom: 0;
}

.container {
  background-color: #000;
  margin: auto;
  width: 90%;
  height: 90vh;
  color: black;
  margin-top: 2em;

}

.box1 {
  width: 100%;
  height: 50%;
  background-size: 100%;
  background-color: #000;
}


.box3, .box2 {
  width: 100%;
  height: 20%;
  padding-top: 1em;
  background-color: #fff;
}


.box1, .box2, .box3 {
  border: 10px solid black;
 }


@media only screen and (max-width: 600px) {

  .background-image {
    width: 100%;
    height: 90%;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

.box2 {
  height: 10%;
  padding: 0;
}

.box3 {
  padding: 1.5em;
}

.black h1 {
  margin: 0;
  padding-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  padding-left: .8em;
  padding-top: .8em;
  font-weight: lighter;
}
.black h2 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: .8em;
  font-weight: lighter;
}

}

@media only screen and (min-width: 600px),
       only screen and (min-width: 600px) and (orientation: landscape) {

    body {
    background-color: #fff;
   }

   li {
     list-style-type: none;
     display: block;
     margin: 0;
     padding: 0;
     font-size: 12px;
     padding-left: 0;
   }

   .navbar {
     position: fixed;
     top: 10%;
     left: 10%;
     width: 170px;
     height: 170px;
     background-color: white;
     opacity: .8;
     text-transform: uppercase;
     border: 1px solid black;
     margin: 0;
     padding: 1em;
   }

   .navbar ul {
     background-color: #fff;
     }

   .box1, .box2, .box3 {
     border: 10px solid #fff;
     background-color: #000;
    }

    .box2 {
      border: 10px solid #fff;
      background-color: #14210f;
    }

    .container {
      background-color: #fff;

    }

  .box1 {
    position: relative;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
  }

  .title {
    position: absolute;
    top: 70%;
    left: 5%;
    width: 50%;
    text-shadow: 2px 2px #000;
  }

   .box3, .box2 {
     position: relative;
     width: 50%;
     height:30%;
     color: white;

   }


   .box3 {
     float: left;
   }

   .box2 {
     position: relative;
     float: left;
     text-align: center;
     text-transform: uppercase;
   }

   .black {
     position: absolute;
     top: auto;
     text-align: center;
   }

   .black2 {
     position: absolute;
     padding: 10%;
     font-size: 16px;
   }

   .black h1 {
     font-weight: lighter;
     height: 0 auto;
   }

}

@media only screen and (min-width: 1140px) {

  .box1 {
    float: left;
    width: 70%;
    height:100%;
  }

  .black {
    position: absolute;
    top: 20%;
    padding: 10%;
  }

.black2 {
  font-size: 20px;
  padding-top: 25%;
}


.box3 .box2 {
  float: left;
  margin: 0 auto;
  }

.box3 {
  height: 50%;
  width: 30%;
  text-align: center;
}
.box2 {
  height: 50%;
  width: 30%;
  text-align: center;
}
}
